.eslint
.file-status/
.git
.history/
.idea/
.lh/
.vscode/
dist
doc/
logs/
node_modules
test/
.dockerignore
.editorconfig
.env
.env.example
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
jest.config.json
README.md

*.log

__spec__

# temp folders / files
*._backup*
*._bash*
*._legacy*
*._temp*
*._labs*
*._dev*

src/generated
