PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secret123123
JWT_SECRET_REFRESH_KEY=secret123123
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

JWT_SECRET=fc453f8e45b062c0b3d372c53af37ba21101ba760c4084982f2c7356f794df76
JWT_REFRESH_SECRET=9422bc3debb7d6667d3727014bd83488c4078c7143fef2a71306fe5dcbeceb9f
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
